.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #ffd700;
  border-bottom: 10px solid #ddd;
  font-family: sans-serif;
  height: 120px;
  gap: 40px;
}

.navbar.dark {
  background: #222;
  color: #ffd700;
  border-color: #ffd700;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  height: 80px;
  width: 130px;
  object-fit: cover;
  border-radius: 30% 5%;
  border: 3px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px black;
}
.navbar.dark .logo img {
  border: 3px solid #ffd700;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 10px;
  border: 1px solid #ffd700;
  box-shadow: 0 1px 15px #ffd700;
  border-radius: 10px;
  width: 300px;
  margin-left: 15px;
}

.navbar.dark .logo img {
  border: 3px solid #ffd700;
  box-shadow: 0 1px 15px #ffd700;
}
.search-box button {
  margin-left: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 25px;
  font-weight: bold;
}

.navbar-links li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar.dark .genres-menu {
  background: #333;
  border-color: #555;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 22px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #ffd700;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #ffd700;
}

input:checked + .slider:before {
  transform: translateX(24px);
  background-color: black;
}
