.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

.cardContainer {
  min-width: 300px;
  margin-right: 16px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffd700;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.15);
  background-color: #ffda44;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  color: black;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}
