.footer {
  width: 100%;
  background: rgb(0, 0, 0);
  color: yellow;
  padding: 10px 0;
  margin-top: 30px;
  margin-bottom: 0;
}
.footer-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.footer-title {
  font-size: 18px;
  font-weight: bold;
}
.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons a {
  transition: 0.3s;
  color: white;
}
.social-icons a:hover {
  opacity: 0.6;
  transform: scale(1.5);
}
